.NewColor {
    display: flex;
    width: 100vw;
    height: 100vw;
    justify-content: center;
    background-color: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
}

.NewColor form {
    width: 50%;
    background-color: red;
    padding: 25px;
    border-radius: 12px;
}

.NewColor form div {
    padding: 15px;
}
